<!doctype html>
<html lang="es">

<head>

    <meta charset="utf-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <title>
        {% block title %}
        Dinámicas Alex 27
        {% endblock %}
    </title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="top">

        <div class="brand">
            DINÁMICAS <b>ALEX 27</b>
        </div>

        <div class="mini">
            RIFAS • LOTERÍAS DIARIAS
        </div>

    </div>


    {% with messages = get_flashed_messages(with_categories=true) %}

        {% for c, m in messages %}

            <div class="flash {{ c }}">
                {{ m }}
            </div>

        {% endfor %}

    {% endwith %}


    {% block body %}
    {% endblock %}


    <footer>
        🍀 Dinámicas Alex 27 · RIFAS • LOTERÍAS DIARIAS
    </footer>

</body>

</html>
